@use "../../base/kit";
@use "../../base/mixins";
@use "../../containers/media";

.doctors-section{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    @include media.mobile{
    gap: 1.5rem;
    }
    &__filter{

    }
    &__grid{
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(28rem, 1fr));
        gap: 1.25rem;
        @include media.mobile{
            grid-template-columns: repeat(auto-fill,minmax(20rem, 1fr));
            row-gap: 1.5rem;
        }
        .specialists__item__info{
            background: #F3F4F4;
        }
    }
}
.form-block{
    display: flex;
    gap: 1.75rem;
    padding: 3.375rem 3.3125rem 0 3.3125rem;
    border-radius: 1rem;
    background: #F8F8F9;
    &__left{
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        &-top{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h2{
                color: #16266E;
            }
            p{
                @include kit.text_1;
                color: #222;
            }
        }
    }
    &__img{
        position: relative;
        width: 100%;
        padding-bottom: 37.5%;
        max-width: 35.44925rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.form-help{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    &__info{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        row-gap: .75rem;
        .checkbox{
            width: 100%;
        }
        .top{
            display: flex;
            gap: .5rem;
        }
        .policy-text{
            @include kit.desc;
            color: #222;
            max-width: 28.625rem;
        }
        .policy-text a{
            @include kit.desc;
            color: #222;
            &:hover{
                color: #DF752C;
            }
        }
    }
    .button{
        width: fit-content;
    }
}

.filter{
    display: flex;
    gap: .75rem;
    @include media.mobile{
        flex-direction: column-reverse;
    }
    &__select {
        position: relative;
        &-btn{
            color: rgba(34, 34, 34, 0.5);
            position: relative;
            font-family: Rosatom;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 1.4rem */
            display: flex;
            padding: 1rem 1.25rem;
            align-items: center;
            gap: 1rem;
            border-radius: 0.5rem;
            border: 1px solid rgba(0, 0, 0, 0.20);
            @include media.mobile{
                width: 100%;
                justify-content: space-between;
                font-size: .875rem;
            }
            &::after {
                content: "";
                display: inline-block;
                width: 0.688rem;
                height: 0.438rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7' fill='none'%3E%3Cpath opacity='0.5' d='M0.353516 0.353546L5.35352 5.35355L10.3535 0.353546' stroke='black'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: all .3s;
              }
            &.active{
                &::after{
                    transform: rotate(180deg);
                }
                
            }
            @include media.mobile{
    
            }
        }
    }
    &__tabs{
        display: flex;
        align-items: center;
        gap: .25rem;
        border-radius: 0.625rem;
        border: 1px solid #DEDEDE;
        padding: 0.3125rem;
        max-width: 21.5625rem;
        width: 100%;
        @include media.mobile{
            max-width: 100%;
        }
        .filter__tab{
            border-radius: 0.5rem;
            padding: 0.625rem 1.25rem;
            color: #222;
            font-family: Rosatom;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 1.4rem */
            opacity: 0.5;
            width: 100%;
            @include media.mobile{
                font-size: .875rem;
            }
        }
        .filter__tab.active{
            background: #003274;
            color: white;
            opacity: 1;
        }
    }
    &__select-dropdown {
        display: none;
        position: absolute;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 10px 30px rgba(0,0,0,.1);
        padding: 10px;
        z-index: 2;
        @include media.mobile{
            width: 100%;
        }
        div{
            font-family: Rosatom;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            @include media.mobile{
                font-size: .875rem;
            }
        }
    }
    
    &__select-dropdown.active {
        display: block;
    }
    
    &__select-dropdown div {
        padding: 8px;
        cursor: pointer;
    }
    
    &__select-dropdown div:hover {
        background: #f3f3f3;
    }
    .form_doc-search{
        margin-left: auto;
    }
}
