@use "../../base/kit";
@use "../../base/mixins";
@use "../../containers/media";

.footer-section{
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: kit.$dark-blue;
    width: 100%;
    @include media.mobile{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    &__container{
        @include mixins.df_fdc;
        gap: 2.5rem;
        @include media.mobile{
            gap: 2.33rem;
        }
        &__top{
            display: flex;
            gap: 2.25rem;
            justify-content: space-between;
            @include media.mobile{
                flex-direction: column;
            }
            .footer-left{
                @include mixins.df_fdc;
                gap: 1.25rem;
                @include media.mobile{
                    gap: 2.25rem;
                }
                .footer-logo{
                    @include media.mobile{
                        display: flex;
                        justify-content: center;
                    }
                }
                &__info{
                    @include mixins.df_fdc;
                    gap: .5rem;
                    @include media.mobile{
                        display: none;
                    }
                }
                .footer-schedule{
                    color: var(--white, #FFF);
                    font-family: Inter;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 1.225rem */
                }
                .footer-zapis{
                    border-radius: 0.5rem;
                    background: var(--Blue-Light, #6CACE4);
                    padding: 1rem 1.75rem;
                    text-align: center;
                    cursor: pointer;
                    color: var(--white, #FFF);
                    font-family: Inter;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 1.3125rem */
                    @include media.mobile{
                        font-size: 0.875rem;
                        padding: 0.9375rem 2.25rem;
                        width: 100%;
                    }
                }
            }
            .footer-center{
                gap: 1.25rem;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
                max-width: 46rem;
                width: 100%;
                @include media.mobile{
                    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
                    row-gap: 2.25rem
                }
                &__item{
                    @include mixins.df_fdc;
                    gap: .75rem;
                    // max-width: 17.5625rem;
                    width: 100%;
                    @include media.mobile{
                        gap: .88rem;
                        &:last-child{
                            grid-column: span 2;
                        }
                    }
                    .footer-title{
                        color: var(--white, #FFF);
                        text-align: center;
                        font-size: 1.125rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 160%; 
                        text-align: left;
                        opacity: .6;
                        @include media.mobile{
                            font-size: 1rem;
                            font-weight: 500;
                            line-height: 140%;
                        }
                    }
                }
            }
            .footer-right{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                max-width: 20.5625rem;
                width: 100%;
                &__info{
                    display: flex;
                    flex-direction: column;
                    gap: .75rem;
                    @include media.mobile{
                        gap: 1rem;
                    }
                    .title{
                        color: var(--white, #FFF);
                        font-size: 1.125rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%; 
                        opacity: 0.6;
                    }
                    &-item{
                        display: flex;
                        flex-direction: column;
                        gap: .25rem;
                        @include media.mobile{
                            flex-direction: row;
                            gap: 2.25rem;
                        }
                        .text-opacity{
                            margin-bottom: .25rem;
                            opacity: .5;
                            max-width: 7.125rem;
                            width: 100%;
                        }
                        &-text{
                            color: var(--white, #FFF);
                            font-size: 1.125rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 140%; 
                            @include media.mobile{
                                font-size: 0.9375rem;
                                line-height: normal;
                            }
                        }
                        &-phone{
                            display: flex;
                            flex-direction: column;
                            gap: .25rem;
                        }
                    }
                }
            }
        }

        &__bottom{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            @include media.mobile{
                flex-direction: column-reverse;
                align-items: center;
                gap: 2.25rem;
            }
            .footer-payment{
                display: flex;
                flex-direction: column;
                gap: .75rem;
                @include media.mobile{
                    align-items: center;

                }
                span{
                    color: var(--white, #FFF);
                    font-family: Inter;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                &__info{
                    display: flex;
                    gap: 1.25rem;
                }
            }
            .footer-social{
                display: flex;
                gap: .62rem;
                &__item{
                    width: 2.75rem;
                    height: 2.75rem;
                    aspect-ratio: 1/1;
                    background-color: #6CACE4;
                    border-radius: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .footer-border{
            background: rgba(180, 177, 172, 0.10);
            width: 100%;
            height: 0.0625rem;
        }
        .footer-bottom-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            @include media.mobile{
                flex-direction: column-reverse;
                gap: .75rem;
            }
            span,a{
                color: var(--white, #FFF);
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                opacity: 0.5;
                @include media.mobile{
                    text-align: center;
                }
            }
        }
    }
}
.footer__nav{
    display: flex;
    flex-direction: column;
    gap: .62rem;
    @include media.mobile{
        gap: 1rem; 
    }
    &-link{
        color: var(--white, #FFF);
        font-family: Inter;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 1.40625rem */
        @include media.mobile{
            line-height: normal;
        }
    }
}
.text-opacity{
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: .5;
    @include media.mobile{
        font-size: 0.9375rem;
    }
}