@use "../../base/kit";
@use "../../base/mixins";
@use "../../containers/media";

.price-section{
    display: flex;
    flex-direction: column;
    .faq__item-body-content{
        opacity: 1;
        width: 100%;
        .price-block{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 0.5rem;
            border-radius: .5rem;
            &:nth-child(odd){
                background-color: #F8F8F9;
            }
            &:nth-child(even){
                background: #FFF;
            }
            &-name,&-price{
                font-family: Inter;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                color: #222;
                @include media.mobile{
                    font-size: .75rem;
                    font-weight: 400;
                    font-family: Rosatom;
                }
            }
        }
    }
    
}

.about-serv{

}
.about-serv.blue-fon{
    &::after{
        display: none;
    }
    .faq__body, h2, *{
        color: white;
    }
}

.stages-section,.recommend-section{
    position: relative;
    @include media.mobile{
        padding-bottom: 4.5rem;
    }
    h2{
        color: #333;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
        gap: 1.25rem;
        @include media.mobile{
            display: block;
        }
        &-item{
            display: flex !important;
            flex-direction: column;
            gap: .5rem;
            border-radius: 1rem;
            background: #F8F8F9;
            padding: 1.25rem;
            @include media.mobile{
                padding: .75rem;
            }
            .number{
                overflow: hidden;
                color: #F8F8F9;
                text-overflow: ellipsis;
                font-family: Rosatom;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-radius: 1.875rem;
                background: #DF752C;
                padding: 0.25rem 1.25rem;
                width: fit-content;
                @include media.mobile{
                    font-size: .875rem;
                    padding: 0.25rem 0.875rem;
                }
            }
            span{
                @include kit.cards;
                color: #222;
            }
            p{
                @include kit.text_1;
                color: #222;
                padding-top: .75rem;
                @include media.mobile{
                    font-size: .875rem;
                }
            }
        }

    }
}

.recommend-section{
    &__info{
        display: flex;
        gap: .75rem;
        @include media.mobile{
            flex-direction: column;
        }
        &-item{
            display: flex !important;
            flex-direction: column;
            gap: 1.5rem;
            border-radius: 1rem;
            background: #F8F8F9;
            padding: 1.75rem;
            height: auto !important;
            @include media.mobile{
                padding: .75rem;
                gap: 1.2rem;
            }
            h4{
                @include kit.heading_4_bold;
                color: #222;
            }
            .items{
                display: flex;
                flex-wrap: wrap;
                gap: .75rem;
                row-gap: .5rem; 
                span{
                    padding: 0.375rem 1rem 0.5rem 1rem;
                    border-radius: 0.5rem;
                    border: 1px solid rgba(34, 34, 34, 0.20);
                    @include kit.text_1;
                    color: #222;
                    @include media.mobile{
                        font-size: .875rem;
                        padding: 0.25rem 0.5rem 0.375rem 0.5rem;
                    }
                }
                
            }
            p{
                @include kit.body;
                color: #222;
                margin-top: auto;
            }
        }
        &-item.contra-indications{
            background: #6CACE4;
            h4,p{
                color: white;
            }
            span{
                color: #15266E;
                background: rgba(255, 255, 255, 0.50);
                border: transparent;
            }
        }
    }
}

.rehab-section{
    h2{
        color: #333;
        padding-bottom: .75rem;
    }
    &__info{
        display: flex;
        gap: 1.25rem;
        @include media.mobile{
            flex-direction: column;
        }
        &-item{
            display: flex;
            flex-direction: column;
            gap: .75rem;
            flex: 1;
            p{
                color: #222;
                @include kit.text_1;
                @include media.mobile{
                    font-size: .875rem;
                }
            }
            .info-block{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1.25rem;
                border-radius: 1rem;
                background: #F8F8F9;
                @include media.mobile{
                    gap: .75rem;
                    padding: .75rem;
                }
                h4{
                    @include kit.heading_4_bold;
                    color: #222;
                }
            }
        }
        
    }
}