@use 'ui/accordion.scss';
@use 'ui/modals.scss';
@use 'ui/dropdown.scss';
@use 'ui/input.scss';
@use 'ui/icon.scss';
@use 'ui/button.scss';
@use 'ui/form.scss';
@use 'ui/header.scss';
@use 'ui/list.scss';
@use 'ui/card.scss';
@use 'ui/map.scss';
@use 'ui/breadcrumbs.scss';
@use 'ui/cookie.scss';

@use 'sections/footer.scss';
@use 'sections/index.scss';
@use 'sections/services.scss';
@use 'sections/directions.scss';
@use 'sections/services-detail.scss';
@use 'sections/doctors.scss';