@use "../../base/kit";
@use "../../base/mixins";
@use "../../containers/media";

.grid-container{
    @include mixins.grid(3,1.25rem);
    @include media.mobile{
        @include mixins.grid(2,1rem);
        column-gap: .75rem;
    }
    @media (max-width:360px) {
        @include mixins.grid(1,1rem);
    }
}
.card-block{
    padding: 1.5rem;
    min-height: 21.875rem;
    @include mixins.df_fdc_jcsb;
    gap: 1rem;
    @include media.mobile{
        padding: .75rem;
        min-height: 13.25rem;
    }
   
    &_pick{
        padding: 0;
    }
    &_empty{
        padding: 0;
        @include media.mobile{
            display: none;
        }
    }
    &__picture{
        height: 100%;
        width: 100%;
        display: block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
    &__top{
        @include mixins.df_fdc;
        gap: .5rem;
        &__name{
            @include kit.text_1_bold;
            text-transform: uppercase;
            @include media.mobile{
                font-size: 1rem;
                font-weight: 600;
            }
        }
        &__desc{
            @include kit.desc;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    &_bg{
        &_green{
            background-color: kit.$green;
            .card-block__top{
                &__name{
                    color: kit.$white;
                }
                &__desc{
                    color: kit.$white;
                }
            }
        }
        &_gray{
            background-color: kit.$l-gray;
            .card-block__top{
                &__name{
                    color: kit.$black;
                }
                &__desc{
                    color: kit.$black;
                }
            }
        }
    }
    .button{
        @include media.mobile{
            display: none;
        }
    }
    &:hover{
        .button_bg_orange {
            color: kit.$orange;
            gap: .5rem;
            background-color: kit.$white;
            border: 2px solid kit.$orange;
            svg path {
                stroke: kit.$orange; 
            }
            span {
              max-width: 200px; 
              opacity: 1;
            }
        
            svg {
              transform: translateX(3px);
            }
        }
        .button_bg_transparent{
            color: kit.$orange;
            gap: .5rem;
            background-color: transparent;
            border: 2px solid kit.$white;
            transition: all 0.3s ease;
            svg path {
                stroke: kit.$white;
            } 
            span {
              max-width: 200px; 
              opacity: 1;
            }
        
            svg {
              transform: translateX(3px);
            }
        }
        .button_bg_white{
            color: kit.$orange;
            gap: .5rem;
            background-color: white;
            border: 2px solid kit.$orange;
            transition: all 0.3s ease;
            svg path {
                stroke: kit.$orange;
            } 
            span {
              max-width: 200px; 
              opacity: 1;
            }
        
            svg {
              transform: translateX(3px);
            }
        }
    }
    
}

.card-news{
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 44.61%, rgba(0, 0, 0, 0.60) 78.81%);
        z-index: 1;
        pointer-events: none;
      }
      @include media.mobile{
        max-height: 12.5rem !important;
      }
    &__img{
        @include media.mobile{
            img{
                object-position: 0% 80%;
                scale: 1.3;
            }
           
        }
    }
    &__top-text{
        @include kit.links;
        font-weight: 400;
        color: kit.$black;
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.80);
        display: flex;
        padding: 0.375rem 0.75rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        @include media.mobile{
            top: .75rem;
            left: .75rem;
        }
    }
    &__info-block{
        @include mixins.df_fdc;
        gap: .75rem;
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        z-index: 3;
        @include media.mobile{
            left: .75rem;
            bottom: .75rem  
        }
        &-text{
            color: white;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.625rem; 
            text-transform: uppercase;
            display: -webkit-box;
            -webkit-line-clamp: 3;     // Количество строк
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @include media.mobile{
                font-size: 1.125rem;
                line-height: 1.575rem;
            }
            
        }
        &-date{
            color: white;
            @include kit.desc;
        }
    }
    &_basic{
        grid-column: span 1;
        max-height: 19.5625rem;
    }
    &_big{
        grid-column: span 2;
        max-height: 40.4375rem;
        .card-news__info-block-text
        .card-news__info-block{
            bottom: 2.62rem;
            left: 2rem;
            &-text{
                @include kit.text_1_bold;
                @include media.mobile{
                    font-weight: 600;
                }
            }
        }
        
        @include media.mobile{
            grid-column: span 1;
        }
        .top-text{
            top: 2rem;
            left: 2rem;
        }
    }
    &_wide{
        grid-column: span 2;
        max-height: 20.0625rem;
        @include media.mobile{
            grid-column: span 1;
        }
    }
    

}

.other-block{
    position: relative;
    width: 100%;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 5.25rem;
        height: 5.25rem;
        background-image: url('/src/assets/icon/caseVector.svg'); // путь к вашей иконке
        background-size: 1.64063rem;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        background-color: white;
        transition: opacity 0.3s ease;
        pointer-events: none; // чтобы не мешать клику
        @include media.mobile{
            width: 4rem;
            height: 4rem;
            background-size: 1.25rem;
        }
    }

    &:hover::before {
        opacity: 1;
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 46.92%, rgba(0, 0, 0, 0.40) 76.03%);
        z-index: 1;
        pointer-events: none;
    }
    .other-block-img{
        // max-width: 28.3125rem;
        // max-height: 28.3125rem;
        // aspect-ratio: 1;
        @include media.mobile{
            height: 55.5vw;
        }
    }
    &-text{
        @include kit.text_1;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        left: 2.5rem;
        bottom: 2.5rem;
        color: white;
        z-index: 2;
        @include media.mobile{
            left: 1.25rem;
            bottom: 1.25rem;
        }
    }
}