@use "../../base/kit";
@use "../../base/mixins";
@use "../../containers/media";


.form-section{
    display: flex;
    justify-content: center;
    &__container{
        @include mixins.df_fdc;
        justify-content: center;
        max-width: 60rem;
        gap: 3.81rem;
        padding: 3.75rem;
        background: linear-gradient(282deg, #15256D 0%, #4495D1 99.25%), #F3F3F3;
        position: relative;
        overflow: hidden;
        @include media.mobile{
            padding: 1.5rem;
            gap: 1.5rem;
        }
        &__img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.05; 
            z-index: 1; 
            pointer-events: none;
        }
        &__top{
            @include mixins.df_fdc;
            gap: 1.31rem;
            z-index: 2;
            &-title{
                @include kit.heading_1;
                color: white;
            }
            &__desc{
                @include mixins.df_fdc;
                max-width: 42.1875rem;
                width: 100%;
                @include media.mobile{
                    gap: .75rem;
                }
                span{
                    color: white;
                    @include kit.text_1;
                }
            }
        }
        .form{
            z-index: 2;
            .policy-text,a{
                color: white;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include media.mobile{
                    font-size: 0.625rem;
                }
            }
            a{
                
                text-decoration: underline
            }
            
        }
    }

}

.form{
    &__btn-block{
        @include mixins.df_fdc;
         gap: .5rem;
         width: 100%;
         @include media.mobile{
            .button_size_file{
                display: none;
            }
         }
        &__file{
         @include mixins.df_ac;
         gap: .75rem;
         @include media.mobile{
          flex-direction: column;
         }   
        }  
        &-fileName{
            @include kit.desc;
            color: white;
        }
    }
}