@use "../../base/kit";
@use "../../base/mixins";
@use "../../containers/media";

header {
    position: sticky;
    z-index: 47;
    top: -1px;
    transition: top 0.3s ease;
    width: 100%;
    &.sticky {
        top: -12rem;
    }
}

.header-section{
    @include mixins.df_fdc;
    position: relative;
    background-color: #F3F3F3;
    &__container{
       
        // box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.15);
        padding: 1rem 0;
        z-index: 2;
        @include mixins.df_fdc;
        gap: 1rem;
        &__top{
            @include mixins.df_ac_jcsb;
            gap: 2rem;
            .header-logo{
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 13.3rem;
            }
        }
        &__info-block{
            @include mixins.df_ac;
            gap: .5rem;
            width: 100%;
            .form_search-form{
                max-width: 35rem;
                width: 100%;
            }
            @include media.mobile{
                display: none;
            }
            .header-socials{
              @include mixins.df_ac;
              gap: .5rem;
              border-radius: 0.5rem;
              background: rgba(255, 255, 255, 0.50);
              padding: 0.37rem 0.5rem;
              &__item{
                background-color: #6CACE4;
                border-radius: .25rem;
                @include mixins.df_ac_jcc;
                width: 2rem;
                height: 2rem;
                aspect-ratio: 1/1;
              }
            }
            .header-contacts{
              border-radius: 0.5rem;
              padding: 0.375rem 0.5rem;
              background: rgba(255, 255, 255, 0.50);
              @include mixins.df_ac;
              gap: .62rem;
              &__item{
                display: flex;
                gap: .5rem;
                max-width: 8.25rem;
                width: 100%;
                &-text{
                  color:  #333;
                  font-family: Rosatom;
                  font-size: 0.75rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 120%; 
                  opacity: 0.6;
                  &:hover{
                    opacity: 1;
                  }
                }
                &-phone{
                  @include mixins.df_fdc;;
                  gap: .25rem;
                }
                &-border{
                  height: 2rem;
                  width: 1px;
                  background: rgba(51, 51, 51, 0.082);
                }
              }
            }
            
        }
        .header-burger {
          cursor: pointer;
          @include mixins.df_ac_jcc;
          display: none;
          width: 2.75rem;
          height: 2.75rem;
          padding: 0.625rem 1.25rem;
          border-radius: 0.375rem;
          background: var(--white, #FFF);
          position: relative; // Добавляем для позиционирования псевдоэлементов
          
          @include media.mobile {
            display: flex;
          }
          
          // Бургер-иконка (открытое состояние)
          &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='14' viewBox='0 0 22 14' fill='none'%3E%3Cpath d='M1 7H21M1 1H21M1 13H21' stroke='%23003274' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          
          // Крестик (закрытое состояние)
          &::after {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M16.293 0.292892C16.6835 -0.0976314 17.3165 -0.0976317 17.707 0.292892C18.0975 0.683423 18.0975 1.31646 17.707 1.70695L10.4141 8.99992L17.707 16.2929C18.0975 16.6834 18.0975 17.3165 17.707 17.707C17.3165 18.0975 16.6835 18.0974 16.293 17.707L9 10.414L1.70703 17.707C1.31653 18.0975 0.683499 18.0974 0.292969 17.707C-0.0975548 17.3164 -0.097555 16.6834 0.292969 16.2929L7.58594 8.99992L0.292969 1.70695C-0.0975555 1.31643 -0.0975555 0.683417 0.292969 0.292892C0.683493 -0.0976318 1.31651 -0.0976318 1.70703 0.292892L9 7.58586L16.293 0.292892Z' fill='%23003274'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          
          // Активное состояние (меню открыто)
          &.active {
            &::before {
              opacity: 0;
            }
            
            &::after {
              opacity: 1;
            }
          }
        }
        &__bottom{
          @include mixins.df_ac_jcsb;
          gap: 1rem;
          position: relative;
          transition: transform .3s;
          @include media.mobile{
            flex-direction: column;
            align-items: baseline;
            gap: .75rem;
            transform: translateX(-110%);
            // display: none;
            position: fixed;
            width: 100%;
            left: 0;
            top: 4.5rem;
            padding: 1.25rem;
            padding-top: .75rem;
            background: #F3F3F3;
          }
         
          .mobile-menu{
            display: none;
            flex-direction: column;
            gap: .75rem;
            @include media.mobile{
              display: flex;
              width: 100%;
            }
            &__btn{
              @include mixins.df_ac;
              gap: .37rem;
              width: 100%;
              button{
                width: 100%;
                &.active{
                  background-color: #025EA1;
                  color: white;
                }
              }
            }
            .form_search-form{
              
            }
          }
          .navigation{
            
            @include mixins.df_ac;
            gap: 1.25rem;
            @include kit.links;
            @include media.mobile{
              width: 100%;
              padding-bottom: .75rem;
            }
            &__menu{
                @include mixins.df_ac_jcc;
                @include media.mobile{
                  display: none;
                }
                &:hover span{
                  color: white
                }
            }
            &__links{
              @include mixins.df_ac;
              gap: 1.25rem;
              
              @include media.mobile{
                flex-direction: column;
                align-items: baseline;
                gap: .88rem;
                display: none;
                &.active{
                  display: flex;
                }
                
              }
              a{
                color: #222;
              }
            
              &-link{
                @include mixins.df_ac;
                gap: 0;
              }              
            }
            &__menu-dropdown{
              @include media.mobile{
                display: none;
                &.active{
                  display: flex;
                }
              }
            }
            a{
                @include kit.links;
                &:active{
                    color: black;
                }
                &:hover{
                  color: #ED9354;
                }
            }
            

          }
          
          .header-contacts{
            display: none;
            @include media.mobile{
              @include mixins.df_fdc;
              gap: .75rem;
              width: 100%;
              border-top: 1px solid rgba(0, 0, 0, 0.15);
              padding-top: 1.6rem;
              padding-bottom: .75rem;
            }
            &__item{
              @include mixins.df_jcsb;
              gap: .5rem;
              max-width: 100%;
              width: 100%;
              
              .text{
                opacity: .5;
                color: #333;
                font-family: Rosatom;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
              }
              span{
                @include kit.body;
              }
              &-text{
                color:  #333;
                font-family: Rosatom;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; 
                text-align: right;
                opacity: 1;
              }

              &-phone{
                @include mixins.df_fdc;;
                gap: .25rem;
              }
              &-border{
                height: 2rem;
                width: 1px;
                background: rgba(51, 51, 51, 0.082);
              }
            }
          }
          .btn-zapis{
            @include media.mobile{
              width: 100%;
              background: #ED9354;
              border: none;
            }
          }
        }

        

    }


}
.header-section__container.active .header-section__container__bottom{
  transform: translateX(0%);
  // display: flex;
}
.navigation__menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0 0.75rem 0.75rem 0.75rem;
  background: #F8F8F9;
  display: none;
  padding: 2.5rem;
  height: 34.625rem;
  overflow: auto;
  @include media.mobile{
    position: static;
    height: auto;
    padding: 0;
    border-radius: 0;
    background: none;
  }
}

.navigation__menu-dropdown.open {
  display: block;
}
.mega-menu__section{
  height: 100%;
  @include media.mobile{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}
.mega-menu {
  display: flex;
  @include media.mobile{
    width: 100%;
    flex-direction: column;
  }
}

/* Левая колонка */
.mega-menu__nav {
  width: 100%;
  max-width: 18.75rem;
  @include media.mobile{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.12rem;
  }
}

/* Пункт */
.mega-menu__item {
  padding: .875rem  .75rem .875rem 3rem;
  background: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: rgba(51, 51, 51, 0.60);
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  position: relative;
  @include media.mobile{
    font-size: 1.125rem;
    font-weight: 400;
    font-family: Rosatom;
    color: #333;
    padding: 0;
    padding-right: 1.5rem;
    width: fit-content;
  }
  &::before {
    content: '';
    position: absolute;
    width: 1.0625rem;
    height: 1.0625rem;
    aspect-ratio: 1/1;  
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath d='M1 3.85714L2.8 6L7 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(108, 172, 228, 0.205);
    border-radius: 50%;
    left: .75rem;
    top: 50%;
    transform: translateY(-50%);
    @include media.mobile{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5' fill='none'%3E%3Cpath d='M0.500355 0.5L4.31854 4.31818L8.13672 0.5' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      right: 0;
      left: auto;
      background-color: transparent;
    }
  }
  &.active{
    background: #FFF;
    color: var(--Black, #333);
    @include media.mobile{
      background-color: transparent;
    }
    &::before{
      background-color: #6CACE4;
      @include media.mobile{
        background-color: transparent;
      }
    }
  }
  @include media.mobile{
    background: none;
  }
}

/* Правая часть (desktop режим) */
.mega-menu__panel {
  display: none;
  position: absolute;
  left: 22.75rem;
  top: 2.5rem;
  right: 2.5rem;
  border-radius: 1rem;
  background: #FFF;
  padding: 1.5rem;
  @include media.mobile{
    position: static;
    display: none;
    padding: 0;
    padding-left: .75rem;
    background: none;
    border-radius: 0;
  }
}

.mega-menu__panel.active {
  display: block;
}

.mega-menu__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
  row-gap: .37rem;
  @include media.mobile{
    grid-template-columns: 1fr;
    row-gap: .75rem;
  }
}

.mega-menu__card {
  border-radius: 0.5rem;
  background: #F8F8F9;
  padding: 1.125rem 1rem;
  color: #607079;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.125rem */
  @include media.mobile{
    background: none;
    padding: 0;
    font-family: Rosatom;
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    color: #333;
    opacity: .6;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .mega-menu__section.active .mega-menu__panel {
      display: block;
  }

}

  // .mobile-menu,
  // .sticky-list {
  //   position: fixed;
  //   top: 5.063rem;
  //   right: 0;
  //   width: 100%;
  //   height: calc(100vh - 5.063rem);
  //   background: white;
  //   transform: translateX(100%);
  //   transition: transform 0.4s ease;
  //   z-index: 1000;
  
  //   &.active {
  //     transform: translateX(0);
  //   }
    
  //   &__item{
  //       @include df_fdc;
  //       // gap: 1rem;
  //       max-width: 86%;
  //       position: relative;
  //       &::before {
  //           content: '';
  //           display: block;
  //           width: 1.5rem;
  //           height: 1rem;
  //           background-color: $orange;
  //           position: absolute;
  //           top: .38rem;
  //           left: -3rem;
  //       }
  //       .submenu {
  //           max-height: 0;
  //           overflow: hidden;
  //           transition: max-height 0.3s ease, padding-top 0.5s ease;
  //           flex-direction: column;
  //           gap: 1rem;
  //           padding-top: 0;
  //           padding-left: .88rem;
  //           &__link{
  //               font-size: 1rem;
  //               font-weight: 400;
  //               line-height: 140%;
  //               color: #1F1917;
  //           }
  //       }
  //   }
  //   &__list {
  //     list-style: none;
  //     padding: 2.5rem 1rem;
  //     padding-left: 3rem;
  //     @include df_fdc;
  //     gap: 1rem;
  
  //     .submenu-toggle {
  //       @include df_ac;
  //       gap: .5rem;
  //       cursor: pointer;
  
  //       &__link{
  //           font-size: 1.25rem;
  //           font-weight: 400;
  //           line-height: 140%;
  //           text-transform: uppercase;
  //           color: $black;
  //       }
  
  //       .arrow {
  //         transition: transform 0.3s ease;
  //         display: flex;
  //         .arrow-icon {
  //           transition: transform 0.3s ease;
  //         }
  //       }
  //     }
  
  //     .has-submenu.open {
  //       .submenu {
  //           max-height: 1000px;
  //           padding-top: 1rem;
  //       }
  
  //       .arrow-icon {
  //         transform: rotate(180deg);
  //       }
  //     }
  
  //     .mobile-menu__contacts {
  //       margin-top: 2rem;
  //       font-size: 0.9rem;
  
  //       a {
  //         color: #1F1917;
  //         text-decoration: none;
  //         display: block;
  //         margin-bottom: 0.25rem;
  //       }
  
  //       span {
  //         color: #999;
  //         display: block;
  //         margin-bottom: 0.25rem;
  //       }
  //     }
  //   }
  // }

body {
    &.no-scroll {
        overflow: hidden;
        position: fixed;
    }
}

.inset {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10;
    &.show {
        display: block;
        background-color: #000;
        opacity: .4;
    }
}

