@use "../../base/kit";
@use "../../base/mixins";
@use "../../containers/media";

.form{
    &_search-form {
        @include mixins.df_ac_jcsb;
        cursor: pointer;
        max-width: 35rem;
        width: 100%;
        border-radius: 0.5rem;
        transition: all .3s;
        padding: 0.625rem 1.25rem;
        background-color: white;
        // @include mobile{
        //     display: none;
        // }
       
        &:hover {
            transition: all .3s;
            opacity: 1;
        }
        .input{
            border: 0;
            width: 100%;
            height: 100%;
            padding-right: 3rem;
            &_search{
                @include kit.links; 
                &_svg{
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M17.5 18L13.9167 14.4167M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z' stroke='%231F1917' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: 1.25rem 1.25rem;
                    background-position:center;  
                    max-width: 1.25rem;
                    max-height: 1.25rem;
                    height: 100%;
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
        svg {
            max-width: 1.5rem;
            max-height: 1.5rem;
            @include mixins.wh_100;
        }
    }
    &_doc-search{
        @include mixins.df_ac_jcsb;
        cursor: pointer;
        max-width: 29.125rem;
        width: 100%;
        border-radius: 0.5rem;
        transition: all .3s;
        padding: 0.9375rem 1.25rem;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.20);
        // @include mobile{
        //     display: none;
        // }
        
        &:hover {
            transition: all .3s;
            opacity: 1;
        }
        .input{
            border: 0;
            width: 100%;
            height: 100%;
            padding-right: 3rem;
            &_search{
                @include kit.links; 
                &_svg{
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg opacity='0.5'%3E%3Cpath d='M21 21L16.7 16.7M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: 1.25rem 1.25rem;
                    background-position:center;  
                    max-width: 1.25rem;
                    max-height: 1.25rem;
                    height: 100%;
                    width: 100%;
                    cursor: pointer;
                }
                @include media.mobile{
                    font-size: .875rem;
                }
            }
            @include media.mobile{
                padding-right: 1rem;
            }
        }
        svg {
            max-width: 1.5rem;
            max-height: 1.5rem;
            @include mixins.wh_100;
        }
    }
    &_search-form-mobile{
        @include mixins.df_ac_jcsb;
        display: none;
        cursor: pointer;
        border: 2px solid  #EBE9E7;
        opacity: 0.5;
        transition: all .3s;
        padding: .88rem 1rem;
        margin-bottom: .75rem;
        // @include mobile{
        //     display: none;
        // }
       &.active{
        display: flex;
       }
        &:hover {
            transition: all .3s;
            opacity: 1;
        }
        .input{
            border: 0;
            width: 100%;
            height: 100%;
            &_search{
                @include kit.text_1; 
                &_svg{
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M17.5 18L13.9167 14.4167M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z' stroke='%231F1917' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: 1.25rem 1.25rem;
                    background-position:center;  
                    max-width: 1.25rem;
                    max-height: 1.25rem;
                    height: -webkit-fill-available;
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
        svg {
            max-width: 1.5rem;
            max-height: 1.5rem;
            @include mixins.wh_100;
        }
    }
    &_default{
        @include mixins.df_fdc;
        gap: 2.5rem;
    }
    &__info-block{
        display: flex;
        gap: 3.75rem;
        align-items: stretch;
        @include media.mobile{
            flex-direction: column;
            gap: 1.5rem;
        }
        &__left{
            @include mixins.df_fdc;
            gap: 1rem;
            width: 100%;
            @include media.mobile{
                gap: .75rem;
            }
        }   
        &__right{
            @include mixins.df_fdc;
            gap: .75rem;
            width: 100%;
        }
    }
}
label{
    height: 100%;
    width: 100%;
    &.checkbox {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        cursor: pointer;
        position: relative;
        font-family: Rosatom;
        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          width: 1rem;
          height: 1rem;
          border: 1px solid #ffffff;
          background-color: transparent;
          aspect-ratio: 1;
          cursor: pointer;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin-top: 0.25rem;
          transition: all 0.2s ease;
      
          &:checked {
            background-color:transparent;
            border-color: #ffffff;
          }
      
          &:checked::after {
            content: "";
            position: absolute;
            left: 0.3rem;
            top: 0.063rem;
            width: 0.2rem;
            height: 0.5rem;
            border: solid white;
            border-width: 0 0.15rem 0.15rem 0;
            transform: rotate(45deg);
          }
        }
        &.help{
            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                width: 1rem;
                height: 1rem;
                border: 1px solid rgba(34, 34, 34, 0.5);
                background-color: transparent;
                aspect-ratio: 1;
                cursor: pointer;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin-top: 0.25rem;
                transition: all 0.2s ease;
                border-radius: 0.25rem;
                font-family: Rosatom;
                &:checked {
                  background-color:transparent;
                  border-color: rgba(34, 34, 34, 0.5);
                }
            
                &:checked::after {
                  content: "";
                  position: absolute;
                  left: 0.3rem;
                  top: 0.063rem;
                  width: 0.2rem;
                  height: 0.5rem;
                  border: solid #DF752C;
                  border-width: 0 0.15rem 0.15rem 0;
                  transform: rotate(45deg);
                }
              }
        }
    }    

}
.input{
    width: 100%;
    height: 100%;
    border: none;
    &_size{
        &_form{
            @include kit.text_1;
            color: white;
            padding: .75rem 1rem 1rem 1rem;
            background-color: rgba(255, 255, 255, 0.10);
            &::placeholder {
                @include kit.text_1;
                color: #FFFFFF80;
            }
        }
        &_search{
            @include kit.heading_1;
            color: kit.$black;
            width: 100%;
            padding: 1rem 6.25rem;
            border: none;
            border-bottom: 2px solid #D9D9D9;
            background: transparent;
            position: relative;
            font-family: Rosatom;
            z-index: 1;
             @include media.mobile{
                padding: 1rem 3.5rem;
             }
        }
        &_help{
            @include kit.body;
            color: #222;
            padding: 0.875rem 1.25rem;
            background-color: white;
            border-radius: 0.5rem;
            font-family: Rosatom;
            &::placeholder {
                @include kit.body;
                color: rgba(34, 34, 34, 0.5);
            }
        }
    }
}
.textarea{
    // background-color: transparent;
    height: 100%;
    width: 100%;
    resize: none;
    overflow: hidden;
    outline: none;
    border: none;
    &_size{
        &_form{
            background-color: rgba(255, 255, 255, 0.10);
            @include kit.text_1;
            color: white;
            min-height: 12.375rem;
            padding: .75rem 1rem 1rem 1rem;
            &::placeholder {
                @include kit.body;
                color: #FFFFFF80;
            }
        }
        &_help{
            border-radius: 0.5rem;
            background: #FFF;
            @include kit.body;
            color: white;
            min-height: 4.875rem;
            padding: 0.875rem 1.25rem;
            &::placeholder {
                @include kit.body;
                color: rgba(34, 34, 34, 0.5);
            }
        }
    }
}

